html, body { 
	overflow: hidden;
}

.well {
	padding: 0;
}

#loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
}

#player {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 6px 6px 0 6px;
}

#header {
	margin-bottom: 6px;
	height: 38px;
}

#status {
	clear: both;
	margin: 0 0 6px;
	padding: 2px 6px;
	overflow: hidden;
}

#status p {
	margin: 0;
	font-size: 10px;
	font-weight: bold;
}

#status p:first-child {
	padding-top: 4px;
	font-size: 16px;
	font-weight: normal;
}

#playback {
	float: left;
	margin: 0;
	width: 45%;
}

#playback button {
	width: 25%;
}

#volume {
	float: right;
	margin: 0;
	width: 45%;
}

#volume button {
	width: 25%;
}

#volume-slider {
	position: absolute;
	top: 10px;
	right: 88px;
	left: 44px;
	margin: 0;
}

#volume-slider:before {
	display: block;
	margin-right: -44px;
	border: 1px solid #ddd;
	border-width: 1px 0;
	height: 17px;
	content: ' ';
}

#volume-slider div {
	position: absolute;
	top: 1px;
	background-color: #eee;
	height: 17px;
}

#volume-slider a.btn {
	position: absolute;
	top: -10px;
	display: block;
	padding: 9px 14px;
	font-size: 11px;
	font-weight: bold;
	width: 14px;
	height: 19px;
}

#browser {
	position: absolute;
	padding: 0;
	top: 144px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
}

#browser ul {
	padding: 0;
}

#browser ul > li {
	position: relative;
	border-top: 1px solid #ddd;
	padding: 0 8px;
}

#browser ul > li > a {
	white-space: nowrap;
	overflow: hidden;
}

#browser ul > li > button {
	position: absolute;
	top: 2px;
	right: 4px;
}

#browser ul > li:first-child {
	border-top: 0px none;
}

#browser ul > li:first-child a {
	padding-top: 6px;
}

#browser ul > li:first-child button {
	top: 4px;
}