<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Preferences | Kutloch TV</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/angular-1.0.1.min.js"></script>
		<script src="js/options.js"></script>
		<style>
			.control-label {width: 70px !important;}
			.controls {margin-left: 80px !important;}
		</style>
	</head>
	<body style="padding-top: 50px" ng-controller="OptionsCtrl">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="#" class="brand">Kutloch TV</a>
					<ul class="nav pull-right">
						<li><a href="#" ng-click="openPlayer()">Open player</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<p>{{log}}</p>
			<form class="form-horizontal">
				<div class="row">
					<div class="span6">
						<fieldset>
							<legend>Places <button class="btn btn-mini" title="Add place" ng-click="addPlace()"><i class="icon-plus"></i></button></legend>
							<div ng-repeat="place in options.places" class="control-group">
								<label class="control-label">Place {{$index + 1}}</label>
								<div class="controls">
									<input ng-model="place.title" class="input-small" placeholder="Title"/>
									<input ng-model="place.uri" class="input-large" placeholder="URL"/>
									<button class="btn btn-mini" title="Remove place" ng-click="removePlace($index)"><i class="icon-remove"></i></button>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Channels <button class="btn btn-mini" title="Add channel" ng-click="addChannel()"><i class="icon-plus"></i></button></legend>
							<div ng-repeat="channel in options.channels" class="control-group">
								<label class="control-label">Channel {{$index + 1}}</label>
								<div class="controls">
									<input ng-model="channel.title" class="input-small" placeholder="Title"/>
									<input ng-model="channel.uri" class="input-large" placeholder="URL"/>
									<button class="btn btn-mini" title="Remove channel" ng-click="removeChannel($index)"><i class="icon-remove"></i></button>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="span5">
						<fieldset>
							<legend>VLC Player</legend>
							<div class="control-group">
								<label class="control-label" for="player-host">Host</label>
								<div class="controls">
									<input ng-model="options.vlc.host" class="input-medium" placeholder="Host"/>
									<input ng-model="options.vlc.port" class="input-mini" maxlength="4" placeholder="Port"/>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Shutter</legend>
							<div class="control-group">
								<label class="control-label" for="shutdown-host">Host</label>
								<div class="controls">
									<input ng-model="options.shutdown.host" class="input-medium" placeholder="Host"/>
									<input ng-model="options.shutdown.port" class="input-mini" maxlength="4" placeholder="Port"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="shutdown-username">Login</label>
								<div class="controls">
									<input ng-model="options.shutdown.username" class="input-small" placeholder="Username"/>
									<input ng-model="options.shutdown.password" class="input-small" placeholder="Password"/>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
