<!doctype html>
<html ng-app="kutloch-tv">
	<head>
		<title>Player | Kutloch TV</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/angular-1.0.1.min.js"></script>
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/player.js"></script>
	</head>
	<body>
		<div id="main" ng-controller="PlayerCtrl">
			<div id="loader" ng-hide="loaded"><img src="img/ajax-loader.gif" width="54" height="55" /></div>
			<div id="player" ng-show="loaded" style="display: none">
				<div id="header">
					<div id="switch" class="btn-group pull-left">
						<button class="btn btn-large btn-primary" ng-class="{active: mode == 'tv'}" ng-click="mode='tv'">TV</button>
						<button class="btn btn-large btn-primary" ng-class="{active: mode == 'places'}" ng-click="mode='places'">Places</button>
						<button class="btn btn-large btn-primary" ng-class="{active: mode == 'files'}" ng-click="mode='files'">Files</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-large btn-danger" ng-show="confirmShutdown" ng-click="shutdown()"><i class="icon-ok icon-white"></i> Confirm</button>
						<button class="btn btn-large btn-danger" ng-show="confirmShutdown" ng-click="confirmShutdown=false"><i class="icon-remove icon-white"></i> Cancel</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-large btn-danger" ng-hide="confirmShutdown" ng-click="confirmShutdown=true"><i class="icon-off icon-white"></i></button>
					</div>
				</div>

				<div id="status" class="well">
					<p>{{status.title()}}&nbsp;</p>
					<p>{{status.state|uppercase}}&nbsp;</p>
				</div>

				<div id="playback">
					<div class="btn-group">
						<button ng-click="play()" class="btn btn-large" title="Play"><i class="icon-play"></i></button>
						<button ng-click="pause()" class="btn btn-large" title="Pause"><i class="icon-pause"></i></button>
						<button ng-click="stop()" class="btn btn-large" title="Stop"><i class="icon-stop"></i></button>
						<button ng-click="fullscreen()" class="btn btn-large" title="Fullscreen"><i class="icon-fullscreen"></i></button>
					</div>
				</div>

				<div id="volume">
					<div class="btn-group">
						<button ng-click="volume()" class="btn btn-large"><i class="icon-volume-off"></i></button>
						<button ng-click="volume(-32)" class="btn btn-large"><i class="icon-volume-down"></i></button>
						<button class="btn btn-large disabled">{{status.volume|volume}}</button>
						<button ng-click="volume(32)" class="btn btn-large"><i class="icon-volume-up"></i></button>
					</div>
				</div>

				<div id="browser" class="well">
					<div>
						<ul class="nav nav-list">
							<li ng-repeat="item in items" ng-class="{true: 'active'}[isActive(item)]">
								<a href="#" ng-click="open(item)">
									<i ng-class="getClass(item)"></i> {{item.title}}
								</a>
								<button ng-click="updatePlaces(item)" ng-hide="item.type!='dir'" class="btn btn-mini"><i ng-class="{true: 'icon-minus-sign', false: 'icon-plus-sign'}[isPlace(item)]"></i></button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
